body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* utilities */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* global style for element-ui */

.el-header {
  padding: 0px;
}

.el-form-item.is-success .el-input__inner {
  border-color: #409EFF;
  outline: 0;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus {
  border-color: #409EFF;
  outline: 0;
}
